/// Relative or absolute URL to the project root
$base-url: '/';



$color-primary: #0984e3;
$color-primary-light: #1895f6;
$color-primary-dark: #0871c2;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #dadada;
$color-grey-light-4: #cfcfcf;

$color-grey-dark-1: #999999;
$color-grey-dark-2: #777777;
$color-grey-dark-3: #555555;
$color-grey-dark-4: #333333;

$color-text-black: $color-grey-dark-3;
$color-text-white: $color-grey-light-2;
$body-bg: #fbfbfb;
$body-bg-dark: #f1f1f1;

$color-white: #fff;
$color-black: #000;
